* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(217, 151, 63);
}

h1 {
    text-align: center;
    margin: auto;
}

ul li {
    padding: 5px;
}

ol li {
    padding: 7px;
}

.recipe-container {
    width: 50%;
    margin: auto;
    background-color: bisque;
    border: dotted;
    padding: 10px;
}